<h2>Welcome, <%= current_user.username %>!</h2>

<h3>View Tweet</h3>
<h4><%= @tweet.content %></h4><br> 

<% if @tweet.user == current_user %>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>
<%end%>

